.dropdown-menu{

    min-width:260px;

    border-radius:10px;

    padding:8px 0;

}

.dropdown-item{

    padding:12px 18px;

    font-size:15px;

    cursor:pointer;

    transition:.25s;

}

.dropdown-item:hover{

    background:#ff6f00;

    color:#fff;

}

.dropdown-item i{

    width:24px;

}
