<div class="dropdown p-3 mt-2 ">

    <button class="btn btn-light dropdown-toggle shadow-sm" type="button" data-bs-toggle="dropdown">
        <i class="bi bi-list"></i> MOU Menu

    </button>

    <ul class="dropdown-menu dropdown-menu-end shadow">

        <li *ngFor="let menu of menus">

            <a *ngIf="menu.visible" class="dropdown-item" (click)="navigate(menu)">

                <i [class]="menu.icon + ' m-2'"></i>

                {{menu.title}}

            </a>

        </li>

    </ul>

</div>
